@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, nord, pastel;
}

body {
  font-family: "Manrope", sans-serif;
}

.damion {
  font-family: "Damion", cursive;
}

.tooltip-top-left {
  > .tooltip-content,
  &[data-tip]:before {
    transform: translateX(-90%) translateY(var(--tt-pos, 0.25rem /* 4px */));
    inset: auto auto var(--tt-off) 50%;
  }
  &:after {
    transform: translateX(-90%) translateY(var(--tt-pos, 0.25rem /* 4px */));
    inset: auto auto var(--tt-tail) 50%;
  }
}
